$primary: #111;
$light: #fff;
$danger: #dc3545;
$success: #28a745;
$shadow: rgba(0, 0, 0, 0.3);
$font: 14px;
$fontLG: 20px;
$fontSM: 12px;
// $font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family: 'Titillium Web', sans-serif;

a {
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 30px;
}

strong {
  font-weight: 400;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
